@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.wrapper {
    background-image: url('https://d2clawv67efefq.cloudfront.net/ccbp-static-website/chatbg.png');
    height: 100vh;
    color: #ffffff;
}

.contact_name {
    background-color: #323f4b;
    text-align: center;
    font-size: 10px;
    font-family: Roboto;
    padding: 10px;
    font-weight: bold;
}

.sender {
    margin: 10px;
    padding: 5px;
    text-align: right;
    background-color: #47a3f3;
    font-family: Roboto;
    font-size: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width:100px;
}

.reciever {
    margin: 10px;
    padding: 5px;
    text-align: left;
    background-color: #52606d;
    font-family: Roboto;
    font-size: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width:100px;
}